:root{
    --fontColor1:#f5f5f5;
    --fontColor2:#000;
    --bgColor1:#030436;
    --bgColor2:#9f5f91;
    --bgColor3:#572c57;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
/*responsividade*/
@media (max-width:500px){
    .container{
        justify-content:start;
        padding: 15px;
    }
}
